table,tr,td{
	border:1px solid black;
	spacing:1px;
	cellpadding:1px;
	border-collapse:collapse;
}
.middle{
	width:100%;
}
#table-2{
	empty-cells:show;
	height:100px;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}

#timage{
	text-align:center;
}